body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Noto Sans CJK KR", "Noto Sans CJK KR Bold", "Noto Sans CJK KR Light", "Noto Sans CJK KR Medium";
    color: hsla(0, 0%, 100%, 1.00);
    -webkit-box-shadow: inset 0px 0px 36px 0px hsla(0,0%,1%,1.00);
    box-shadow: inset 0px 0px 36px 0px hsla(0,0%,1%,1.00);
}

canvas {
    height: 29vh;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -17px;
}

#paaran-art {
    cursor: pointer;
    z-index: 54;
    font-size: 51px;
    color: hsla(0, 0%, 100%, 1.00);
    -webkit-box-shadow: 0px 0px 17px hsla(0,4%,9%,1.00);
    box-shadow: 0px 0px 17px hsla(0,4%,9%,1.00);
    text-align: center;
}

.line {
    display: block;
    padding-left: 294px;
}

#menu-container {
    display: block;
    opacity: 0;
    position: absolute;
    left: -170%;
    top: 50%;
    z-index: 3;
    width: 100%;
    height: 100%;
  transition: opacity 2.15s ease-in-out;
}
#menu-container.show {
  opacity: 1;
}
#menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


#menu li {
    padding: 42.5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 2em;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 12px hsla(0,0%,0%,1.00);
    box-shadow: 0px 0px 12px hsla(0,0%,0%,1.00);
}

@media screen and (max-width: 767px) {
    
    #body{
    height:100vh;
    width:100vh;
    }
    
    #container-fluid
    
    #paaran-art {
        display: grid;

        grid-gap: 5px;
    }

    .line {
        grid-column: 1 / span 2;
    }

    #menu-container {
        display: block;
        opacity: 1;
        position: static;
        left: auto;
        top: auto;
    }

    #menu {
        display: flex;
    }

    .line:nth-child(3) {
        grid-column: 3;
        padding-right: 100px;
        z-index: 21;
    }

    #menu li {
        flex-grow: 1;
        text-align: center;
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
    }

    #menu li:first-child {
        border-left: 1px solid #ccc;
    }

    #menu li:last-child {
        border-right: 1px solid #ccc;
    }
}

@media (max-width: 1194px){}

@media screen and (max-width: 767px) {
    #menu-container {
        display: block;
        opacity: 1;
        position: relative;
        left: auto;
        padding-top: 150px;
    }
}
@media (min-width: 1668px){}

@media (min-width: 1185px){}

@media screen and (max-width: 767px) {
  #menu-container {
    display: block;
    opacity: 1;
    position: relative;
    left: auto;
    padding-top: 150px;
  }
}
